.lower-blog{
  background: url('../img/footer-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 560px;
  color: var(--color-gray-10);
  padding-top: 36px;
}
.personal-data{
  display: flex;
  align-items: center;
  justify-content: space-around;
  h2{
    font-weight: 700;
    font-size: 36px;
    color:var(--color-gray-10);
  }
}
.block-form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.search{
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid var(--color-gray-30);
  width: 100%;
  height: 42px;
  background: var(--color-gray-30);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-dark-80);
}
.search::placeholder,
.messages::placeholder{
  font-weight: 400;
  font-size: 18px;
  color: var(--color-dark-80);
}
.messages{
  box-sizing: border-box;
  padding:0px 20px 20px 20px;
  margin-top: 20px;
  border: 1px solid var(--color-gray-30);
  width: 100%;
  height: 70px;
  background: var(--color-gray-30);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-dark-80);
}
.checkbox {
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  p{
    font-weight: 400;
    font-size: 10px;
    color: var(--color-gray-40);
  }
}
.send{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  border: 1px solid var(--color-aqua);
  background: var(--color-aqua);
  box-sizing: border-box;
  padding: 14px 22px;
  width: 100%;
  height: 50px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-dark-70);
  margin: 28px 0px 0px 0px;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 31px;
  height: 141px;
  background: var(--color-dark-80);
}
.lower-blog__contacts {
  p{
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    color: var(--color-gray-10);
    padding: 0px 0px 10px 0px;
  }
  span{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
  }
  a{
    font-weight: 700;
    font-size: 18px;
    color: var(--color-gray-10);
  }
}
.footer__title{
  text-align: end;
  p{
    font-weight: 400;
    font-size: 18px;
    color: var(--color-aqua);
    text-align: right;
  }
  span{
    font-weight: 400;
    font-size: 18px;
    color: var(--color-gray-10);
  }
}
.footer__blog{
  max-width: 300px;
  width: 100%;
}