.upper-blog{
  background: url('../img/header-bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 560px;
  color: var(--color-gray-10);
  padding-top: 36px;
}
.header{
  display: flex;
  align-items: flex-start;
}
.logo{
  display: flex;
  gap: 20px;
}
.translation{
  border: 1px solid var(--color-aqua);
  box-sizing: border-box;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--color-aqua);
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
  background-color: var(--color-dark-50);
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
  background-color: var(--color-dark-50);
}
.nav-collapse{
  display: flex;
  width: 100%;
}
.nav{
  margin-left: auto;
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 18px;
}
.nav__link{
  font-size: 16px;
  position: relative;
}
.nav__link:before{
  content: "";
  position: absolute;
  // top: 0;
  bottom: 0;
  bottom: 10px;
  right: 0;
  left: 0;
  background: #fff;
  transform: rotate(32deg) translateX(-4.5px);
  border-radius: 50px;
  margin: 0 auto;
  width: 0;
  height: 0;
  height: 1px;
  transition: .7s all;
}
.nav__link::after{
  content: "";
  position: absolute;
  // top: 0;
  bottom: 10px;
  right: 0;
  left: 0;
  background: #fff;
  transform: rotate(-32deg) translateX(4.5px);
  border-radius: 50px;
  margin: 0 auto;
  width: 0;
  height: 1px;
  transition: .7s all;
}
.nav__link:hover::before{
  width: 10px;
}
.nav__link:hover::after{
  width: 10px;
}
// .nav__link:before{
//   content: "";
//   position: absolute;
//   bottom: 20px;
//   right: 0;
//   width: 0;
//   height: 3px;
//   transition: .7s all;
// }
// .nav__link:hover:before{
//   width: 100%;
//   background: rgb(255, 255, 255);
// }
.upper-blog__contacts{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 12px;
}
.upper-blog__contacts a{
  font-weight: 700;
  font-size: 17px;
  margin-left: 12px;
}
.header-blog h1{
  font-weight: 900;
  font-size: 50px;
  color: var(--color-aqua);
  margin-top: 37px;
}
.header-blog p{
  // font-size: calc(var(--index)*0.9);
  font-weight: 900;
  font-size: 18px;
  color: var(--color-aqua);
  margin: 57px 0px 10px 0px;
}
.header-blog span{
  display: flex;
  align-items: center;
  gap: 5px;
}
.button{
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0px;
}
.btn{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 35px;
  border: 1px solid var(--color-aqua);
  background: var(--color-aqua);
  box-sizing: border-box;
  padding: 14px 22px;
  width: 253px;
  height: 50px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-dark-70);
  margin: 28px 0px 0px 0px;
}
.svg-icons{
  width: 24px;
  height: 24px;
  fill: var(--color-dark-70);
  // border: 2px solid #001E42;
}
.ready{
  font-weight: 400;
  font-size: 14px;
  color: var(--color-gray-10);
}